* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-image: url('background-4.jpg');
    background-color: rgba(0, 0, 0, -.8);
    background-size: cover;
    margin: 0;
    height: 100%;
    font-family: 'Nunito Sans', sans-serif;
    color: #242729;
    width: 100vw;
    overflow-x: hidden;
}


.background-image {
    position: fixed;
    top: 0; left: 0; right: -16px; bottom: 0;
	background-image: url('background-4.jpg');
	background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    border-top: #f4f4f4 5px solid;
}

::-webkit-scrollbar {
    width: 16px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
	border-radius: 500px;
    border: 6px solid transparent;
    background-clip: padding-box;
	transition: all 0.2s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
	border-radius: 500px;
    border: 6px solid transparent;
    background-clip: padding-box;
}

.logo-area {
    position: relative;
    top: 16px;
    text-align: center;
    width: 100%;
    color: #f4f4f4;
    font-size: 90%;
    padding-bottom: 22px;
}

.logo-area .logo {
    width: 100%;
    max-width: 400px;
}
/*Global Style Settings*/

.contaner{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul{
    margin: 0;
    padding: 0;
}

.IE-compatible-menu {
    margin: 0;
    margin-top: 4px;
    padding: 0;
    list-style: none;
    text-align: center;
    font-weight: bold;
}

.IE-compatible-menu li {
    display: inline-block;
    color: white;
    margin-top: 9px;
    font-size: 90%;
}

.IE-compatible-menu li a {
    color: rgba(199, 199, 199, 0.863);
    text-decoration: none;
    transition: 0.4s color ease;
}

.IE-compatible-menu li a:hover {
    color: white;
}

.IE-compatible-menu li::before {
    content: '⬥ ';
}

.IE-compatible-menu li:last-child::after {
    content: ' ⬥';
}

.menu-back {
    background: rgba(44, 44, 44, 0.8);
    min-height: 40px;
}

.button_1{
    height: 58px;
    width: 158px;
    background: rgb(247, 193, 18);
    border: none;
    padding-left: 30px;
    padding-right: 30px;
    color: #f4f4f4;
    font-weight: bolder;
    font-size: 120%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#boxes{
    margin-top: 2%;
}

#boxes .box{
    margin-bottom: 2%;
    position: relative;
    float: left;
    text-align: center;
    width: 50%;
    padding: 2%;
}

#boxes .box #box-img-1{
    max-width: 60%;
}

#boxes .box #box-img-2{
    max-width: 51.6%;
    margin-top: 23px;
}

#boxes .box h3{
    text-align: center;
    color: white;
}

footer {
    padding: 0 18px;
    font-size: 14px;
    text-align: center;
    background: black;
    overflow: hidden;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
}

footer a {
    color: white;
}


/* Resposive Design CCS*/

@media(max-width: 580px){
    #boxes{
        margin-top: 12px;
    }
    
    #boxes .box{
        position: relative;
        float: none;
        text-align: center;
        width: 100%;
        padding: 20px;
    }
    
    #boxes .box #box-img-1{
        max-width: 300px;
    }
    
    #boxes .box #box-img-2{
        max-width: 262px;
        margin-top: 23px;
        margin-left: 20px;
    }
    
}

@media(max-width: 380px){
    #boxes .box{
        position: relative;
        float: none;
        text-align: center;
        width: 100%;
        padding: 0px;
    }
    
    #boxes .box #box-img-1{
        max-width: 250px;
    }
    
    #boxes .box #box-img-2{
        max-width: 200px;
        margin-top: 23px;
        margin-left: 20px;
    }
    .button_1{
        height: 38px;
        width: 148px;
        background: rgb(247, 193, 18);
        border: none;
        padding-left: 10px;
        padding-right: 10px;
        color: #f4f4f4;
        font-weight: bolder;
        font-size: 100%;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    #boxes .box h3{
        text-align: center;
        color: white;
        font-size: 90%;
    }
    
    footer {
        margin-top: 20px;
        padding: 0 18px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 14px;
        text-align: center;
        background: black;
        overflow: hidden;
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}